<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
 <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EDIT PAIS</title>
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

    <header th:insert="~{fragments/menubody :: menu-principal}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>EDIT PAÍS</strong></h4>              
          <div class="card-body">
			
            <form th:action="@{/pais/aceptarEditPais}" method="post" th:object="${pais}">
			
			  <div th:if="${msgExito != null}" class='alert alert-success' th:text="${msgExito}" role='alert'></div>    
			  <div th:if="${msgError != null}" class='alert alert-danger' th:text="${msgError}" role='alert'></div> 
			  
              <div class="row">
                <div class="col-md-6"> 
                  <div class="form-group">
					
					<input type="hidden" name="id" th:field="*{id}" >
					
                    <label for="nombre">Nombre</label>
                    <input type="text" class="form-control" th:field="*{nombre}" placeholder="Escriba el nombre de país" required="required" th:disabled="${isDisabled}">
                  
				  </div>
                </div>                
              </div> 
              
              <hr>
			  <div class="d-grid gap-2 float-right justify-content-md-end">
               <button type="submit" title="Guardar el registro." class="btn btn-primary" th:disabled="${isDisabled}">ACEPTAR</button>   
			   <a class="btn btn-primary" th:href="@{/pais/cancelarEditPais}" role="button">CANCELAR</a>
			  </div>
			   
			</form>
			 
          </div>
        </div>
      </div> 
	  
    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script> 
	    
  </body>
</html>