<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Página de errores</title>
</head>
<body>
    <nav th:replace="components/navbar :: nav_bar"></nav>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="alert alert-danger mt-5" role="alert" th:if="${error}">
                    <span th:text="${error}"></span>
                </div>
                <div class="alert alert-danger mt-5" role="alert" th:unless="${error}">
                    Hubo un error inesperado.
                </div>
                <a th:href="@{/inicio}" class="btn btn-primary mt-3">Volver al Inicio</a>
            </div>
        </div>
    </div>
</body>
</html>
