<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Lista Nacionalidad</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">
  </head>

  <body>

    <header th:insert="~{fragments/menubody :: menu-principal}"></header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Lista Nacionalidad</strong></h4>              
          <div class="card-body">
			
            <a class="btn btn-primary" th:href="@{/nacionalidad/altaNacionalidad}" role="button"><i class="fa fa-plus" aria-hidden="true"></i> </a>            
            
			<hr>
			<div th:if="${msgExito != null}" class='alert alert-success' th:text="${msgExito}" role='alert'></div>   
			<div th:if="${msgError != null}" class='alert alert-danger' th:text="${msgError}" role='alert'></div> 
            
			<table class="table table-hover">
              <thead class="thead-light">
                <tr>
				  <th scope="col">Acciones</th>	
                  <th scope="col">Nombre</th>	  
                </tr>
              </thead>
              <tbody>
                <tr th:each="nacionalidad : ${listaNacionalidad}">
                  <td>
					<a th:href="@{/nacionalidad/consultar?id=} + ${nacionalidad.id}" class="btn btn-success btn-sm" role="button" title="Consultar"><i class="fas fa-eye" aria-hidden="true"></i></a>
                    <a th:href="@{/nacionalidad/modificar?id=} + ${nacionalidad.id}" class="btn btn-success btn-sm" role="button" title="Modificar"><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                    <a th:href="@{/nacionalidad/baja?id=} + ${nacionalidad.id}" class="btn btn-success btn-sm" role="button" title="Baja"><i class="fas fa-trash" aria-hidden="true"></i></a>
                  </td>
				  <td th:text="${nacionalidad.nombre}"></td>
                </tr>                              
              </tbody>
            </table>
            
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer th:insert="~{fragments/footer :: pie-pagina}" class="footer"></footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>  
    
    <script>
	
		// Guardamos en una variable una funcion que muestra un cuadro de dialogo de tipo confirm
		var dialogoConfirm = function (e) {
			if (!confirm('¿Realmente desea eliminar el registro?')) 
				e.preventDefault();
		};

		// Aplicamos a todos los elementos HTML que tengan la clase CSS 'confirmar' el evento click para que muestre el cuadro de dialogo de confirmacion. 
		document.querySelectorAll('.confirmar').forEach(function(elemento) {
			elemento.addEventListener('click', dialogoConfirm, false);
		});
	
	</script>
       
  </body>
</html>