<th:block th:fragment="fields">
    <div class="row g-3">
        <div class="form-group col-md-6">
            <label for="titulo">Título:</label>
            <input type="text" class="form-control" id="titulo" th:field="*{titulo}">
            <div class="text-danger" th:if="${#fields.hasErrors('titulo')}" th:errors="*{titulo}"></div>
        </div>
        <div class="form-group col-md-6">
            <label for="estudio">Estudio:</label>
            <select class="form-control" id="estudio" th:field="*{estudio}">
                <option value="">-- Seleccionar --</option>
                <option th:each="estudio: ${estudios}" th:value="${estudio.id}" th:text="${estudio.nombre}"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('estudio')}" th:errors="*{estudio}"></div>
        </div>
        <div class="form-group col-md-12">
            <label for="archivo">Imagen:</label>
            <input type="file" class="form-control" id="archivo" name="archivo">
            <div class="text-danger" th:if="${errorImagenMsg}" th:text="${errorImagenMsg}"></div>
        </div>
        <div class="col-md-12">
            <input type="hidden" class="form-control" id="imagen" th:field="*{imagen}" name="imagen">
        </div>
        <div class="form-group col-md-3">
            <label for="precio">Precio:</label>
            <input type="number" step="0.01" class="form-control" id="precio" th:field="*{precio}">
            <div class="text-danger" th:if="${#fields.hasErrors('precio')}" th:errors="*{precio}"></div>
        </div>
        <div class="form-group col-md-3">
            <label for="stock">Stock:</label>
            <input type="number" class="form-control" id="stock" th:field="*{stock}">
            <div class="text-danger" th:if="${#fields.hasErrors('stock')}" th:errors="*{stock}"></div>
        </div>
        <div class="form-group col-md-3">
            <label for="fechaLanzamiento">Fecha de Lanzamiento:</label>
            <input type="date" class="form-control" id="fechaLanzamiento" th:field="*{fechaLanzamiento}">
            <div class="text-danger" th:if="${#fields.hasErrors('fechaLanzamiento')}" th:errors="*{fechaLanzamiento}"></div>
        </div>
        <div class="form-group col-md-3">
            <label for="categoria">Categoría:</label>
            <select class="form-control" id="categoria" th:field="*{categoria}">
                <option value="">-- Seleccionar --</option>
                <option th:each="categoria : ${categorias}" th:value="${categoria.id}" th:text="${categoria.nombre}"></option>
            </select>
            <div class="text-danger" th:if="${#fields.hasErrors('categoria')}" th:errors="*{categoria}"></div>
        </div>
        <div class="form-group col-md-12">
            <label for="descripcion">Descripción:</label>
            <textarea class="form-control" id="descripcion" rows="4" th:field="*{descripcion}"></textarea>
            <div class="text-danger" th:if="${#fields.hasErrors('descripcion')}" th:errors="*{descripcion}"></div>
        </div>
    </div>
</th:block>
