<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <title>Videojuego</title>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>
<div class="container">
    <div class="row mt-4">
        <div class="col-12">
            <div class="card shadow-sm">
                <div class="card-header">
                    <h4 th:if="${modo == 'alta'}">Nuevo Videojuego</h4>
                    <h4 th:if="${modo == 'modificar'}">Modificar Videojuego</h4>
                    <h4 th:if="${modo == 'consulta'}">Consultar Videojuego</h4>
                </div>
                <div class="card-body">
                    <!-- Alta -->
                    <form th:if="${modo == 'alta'}"
                          th:action="@{/altaVideojuego}" method="post"
                          th:object="${videojuego}" enctype="multipart/form-data">
                        <div th:replace="view/videojuego/_formFields :: fields"></div>
                        <div class="row m-3">
                            <div class="col-md-6">
                                <button class="btn btn-outline-secondary" type="reset" style="width:100%">Resetear</button>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success" type="submit" style="width:100%">Guardar</button>
                            </div>
                        </div>
                    </form>

                    <!-- Modificar -->
                    <form th:if="${modo == 'modificar'}"
                          th:action="@{/videojuego/aceptarEditVideojuego}" method="post"
                          th:object="${videojuego}" enctype="multipart/form-data">
                        <input type="hidden" th:field="*{id}">
                        <div th:replace="view/videojuego/_formFields :: fields"></div>
                        <div class="row m-3">
                            <div class="col-md-6">
                                <a th:href="@{/inicio}" class="btn btn-outline-secondary" style="width:100%">Cancelar</a>
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-warning" type="submit" style="width:100%">Actualizar</button>
                            </div>
                        </div>
                    </form>

                    <!-- Consulta (solo lectura) -->
                    <form th:if="${modo == 'consulta'}"
                          th:object="${videojuego}" enctype="multipart/form-data">
                        <fieldset disabled>
                            <div th:replace="view/videojuego/_formFields :: fields"></div>
                        </fieldset>
                        <div class="row m-3">
                            <div class="col-md-12">
                                <a th:href="@{/inicio}" class="btn btn-primary" style="width:100%">Volver</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>
